build-aux
*.o
*.lo
*~
m4
gupnp-av-marshal*
Makefile
Makefile.in
INSTALL
*.m4
.deps
.libs
*.swp
autom4te.cache/
config.*
configure
doc/gupnp-av-decl-list.txt
doc/gupnp-av-decl.txt
doc/gupnp-av-scan.c
doc/version.xml
gtk-doc.make
*.pc
*.gir
*.typelib
*.la
libtool
stamp-h1

/tests/test-search-criteria-parser
/vala/gupnp-av-1.0.stamp
/vala/gupnp-av-1.0.vapi